body {
	color: #70523D;
	font: 92%/1.5 "Times New Roman";
	/*background: #F7E4CC;
	background: #A68064;*/
	background: url('pattern4.gif');
}

.container {
	width: 970px;
	margin: 25px auto;
	background: url("back1.png");
}

.header {
	/*background: url("banner.png");
	height: 250px;*/
	background: url("cover.png");
	height: 200px;
	padding-bottom:27px;
	margin-top: 15px;
	border-style: none;
}


#box-link { 
	position: absolute; 
	top: 40px;
	left: 160px; 
	width: 320px; 
	height: 200px; 
	background-color: transparent; 
}

h1 {

	font-family: 'Spicy Rice', cursive;
	margin: 0 0 0 487px;
	padding-top: 60px;
	font-stretch: extra-expanded;
	font-size: 24pt;
	letter-spacing: 5px;
	color: #E3A869;
}

h3 {
	font-family: 'Spicy Rice', cursive;
	margin: 0 0 0 742px;
	padding-top: 10px;
	font-stretch: extra-expanded;
	font-size: 16pt;
	letter-spacing: 10px;
	color: #D7BFAE;
}

#body_main .pics {
	border: hidden;
}

#body_main .pics img {
	width: 280px;
	margin: -275px 0 0 350px;
}

#body_main .pics2 {
	border: hidden;

}

#body_main .pics2 img {
	width: 400px;
	margin: -275px 0 0 350px;
}

#mainContainer {
	margin: 0;
	padding: 0;
	border: inherit;
	background: white;
		min-height: 633px;

}

#body_main {
	margin: 0;
	padding: 0;
	border: none;
	background: white;
}
#body_main2 {
	margin: 0;
	padding: 0;
	border: none;
	background: white;
	min-height: 599px;
}

#body_main .food {
	border: hidden;
	margin-left: auto;
	margin-right: auto;
	
}

#body_main2 .body_about {
	margin: 0;
	width: 677px;
	margin: 10px 0 0 0;
	background: white;
	float: left;
	display: block;
	padding: 5px 10px 5px 10px;
	position:relative;
	border: solid 0px #946BD6;
}

#body_main2 .body_about p {
	font-size: 17px;
	width: 400px;
	float:left;
	line-height:24px;
	padding-bottom:15px

}



#body_main2 .body_about h2{
	font-family:fantasy;
	padding-top: 10px;
	text-align:left;
	padding-bottom:20px;
	letter-spacing: 3px
}

#body_main2 .body_about img{
	width: 275px;
	float: right;
	margin: -240px -45px 0 0;
	padding: 0;
}

#body_main .food img {
	margin-top:10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px
	}
	
#body_main .headline h2 {
	font-family:fantasy;
	text-align:center;
	line-height: 36px;
}

	
#body_main .headline h2{
	font-family:fantasy;
	padding-top: 30px;
	text-align:center;
	letter-spacing: 2px;
}

#body_main .headline h2 a {
	color: #48216F;
	font-size: medium;
}

#body_main2 .body_left {
	float: left;
	width: 203px;
	height: 586px;
	margin: 10px;
	border: black 0px solid;
	text-align: left;
	padding: 10px 0 0 7px;
	background: #D7BFAE;
	min-height: 590px;
}

#body_main2 .body_left p {
	margin-left: 20px; 
}


#body_main2 .event h4{
	background: white;
	float: left;
	width: 370px;
	margin: 0;
	float:left;
	padding: 25px 0 8px 30px;
	border: black 0px solid ;
	text-align: left;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #70523D;
	letter-spacing: 1px
}

#body_main2 .event p{
	background: white;
	float: left;
	width: 370px;
	margin: 0px 0 0 30px;
	padding: 0 0 0 0;
	border: black 0px solid ;
	text-align: left;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #70523D;
	letter-spacing: 0px
}
#body_main2 .event img{
	width: 220px;
	margin: 15px 200px 0 80px;
	float: left;
}


#body_main2 .bagel h4{
	background: white;
	float: right;
	width: 340px;
	float: right;
	margin: -215px 0 0 40px;
	padding: 15px 0 0 0;
	border: black 0px solid ;
	text-align: left;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #70523D;
	letter-spacing: 1px
}
#body_main2 .bagel p{
	background: white;
	float: right;
	width: 340px;
	float: right;
	margin: -174px 0 0 40px;
	padding: 0 0 0 0;
	border: black 0px solid ;
	text-align: left;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #70523D;
	letter-spacing: 0px
}

#body_main2 .bagel img{
	width: 210px;
	margin: 25px 0 0 60px;
	padding: 20px 0 0 0;
}


#body_main2 .quote p{
	background: white;
	float: left;
	width: 680px;
	margin-left: 30px;
	padding: 20px 0 20px 0;
	border: black 0px solid ;
	text-align: left;
	display: block;
	font-family: 'Spicy Rice', cursive;
	font-size: 22px;
	color: #824AC2;
	letter-spacing: 3px
}



#body_main2 .imagefront {
	margin: 0;
	width: 677px;
	height: 262px;
	margin: 10px 0 0 0;
	background: white;
	float: left;
	display: block;
	padding: 5px 20px 15px 30px;
	position:relative;
	border: solid 0px #946BD6;	
}



h2 {
	font-family:fantasy;

}

.menu {
	font-size: 20px;
	padding: 0;
	height: 30px;
	margin-left: 330px;
	margin-top: -50px;
}


li {
	padding-top: 12px;
	text-align: center;
	display: inline;
}

.menu li a {
	text-decoration: none;
	color: #D7BFAE;
	font-family: fantasy;
	display: block;
	padding: 4px 25px 3px 15px;
	text-align: center;
}

.menu li a:hover {
color: #E3A869;
}

.menu a:hover{
color: #E3A869;
}

.menu li a.selected {
color: #E3A869;
}

.menu li ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none; 
	width: 6em; /* Width to help Opera out */
	font-size: 16px;
	float: left;
	z-index:100;
}

.menu li {
	list-style: none;
	float: left;
}

.menu li:hover ul {
	display: block;
	position: absolute;
	margin: 0 0 0 8px;
	padding: 0;
	
}
	
.menu li:hover li {
	float: none;
}
	
.menu li:hover li a {
       background: url("back1.png");
	color: #D7BFAE;
}
	
.menu li li a.selected {
       background: url("back1.png");
       font-weight: bold;
       color: #E3A869

}

.menu li li a:hover {
background: url("back1.png");
       font-weight: bold;
              color: #E3A869
}

.footer {
	height: 48px;
	border: 0px solid black;
}

.footer .twitter {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer .facebook {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer .yelp {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer p {
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	color: #D7BFAE;
}

#sidebar {
	border: none;
	margin-left: -7px;
	margin-top: -9px;
}

#body_main .calendar {
	border: hidden;
	width: 600px;
	height: 400px;
	float: left;
	margin: 20px 0 15px 20px; 
}

#body_main .calendar iframe {
	border: hidden;
	width: 600px;
	height: 400px;
	float: left;
	margin: 14px 0 15px 0; 
}

#body_main .textsection {
	margin: 62px 20px 20px 20px;
	width: 300px;
	float: right;
	
}

#body_main .textsection p{
	font-size: medium
	
}

#body_main .map {
	float: right;
	border: hidden;
	margin: 40px 40px 20px 0;
}

#body_main .textsection2 {
	float: left;
	margin: 60px;
}

#body_main .gallery_list {
	
}

.thumbnail img  {
	border: none;
	margin: 0 0 0 0;
        width: 160px;
	height: 125px;
}

.thumbnail {
        list-style: none;
        position: relatives;
        width: 150px;
        float: left;
	margin-left: 54px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.dumbCrossFade {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#events {
	width:968px;
	height: 500px;
	position:relative;
	border:1px solid #ddd;
	background: white;
}

#gallery {
	width:968px;
	height: 700px;
	position:relative;
	border:1px solid #ddd;
	background: white;
}

#map {
	width:968px;
	height: 500px;
	position:relative;
	border:1px solid #ddd;
	background: white;
}



#gallery ul {
	padding: 5px;
	list-style:none;
	margin: 40px 0 0 0;
	width:350px;
	float:right;
	height:610px;
	overflow:auto;
}

#gallery ul li {
	display: block;
	width:100px;
	height: 80px;
	float:left;
	margin:0 5px 5px 0;
	cursor:pointer;
}

#gallery ul li img {
	display:block;
	width: 100px;
	height: 80px;
	margin-top: -6px;
}

#gallery ul li span {
	display:none;
	position:absolute;
	margin-left:40px;
	margin-top:450px;
	width:600px;
	font-family:verdana,
	arial, sans-serif;
	color:#06a;
	font-size:11px;
	line-height:15px;
	text-align:justify;
}

#gallery ul li span b {
	color:#444;
}

/* required for IE5.x and IE6 to display the start image size correctly */
#gallery ul li.click i img.default {
	margin:5px auto 0 auto;
	max-width:545px;
	max-height:545px;
}

#gallery ul li.click {


}

#gallery ul li.click i {
	position:absolute;
	left:40px;
	top:40px;

}

#gallery ul li.click i img {
	margin:5px auto 0 auto;
	width:auto;
	height:auto;

}

#gallery ul li.click span {
	display:block;
}



#change-big {
	width: 385px;
	height:282px
}

#change-thin {
	width:163px;
	height:282px;
	left:385px
}
#change-small {
	left:547px;
	width:180px;
	height:140px
}

.dumbItem {
	z-index: 99;
	display: none
}

#still {
	margin: 140px 0 0 547px;

}

#still img {
	width:180px;
	height: 142px
}

.body_left img {
	width: 150px;
}
