body {
	color: #70523D;
	font: 92%/1.5 "Times New Roman";
	background: #F7E4CC;
}

.container {
	width: 970px;
	margin: 10px auto;
	background: #A68064;
}

.header {
	background: url("lp4.png");
	height: 200px;
	padding: 0;
	margin: 0;
	border: none;
}
#body_main .pics {
	border: hidden;
}

#body_main .pics img {
	width: 280px;
	margin: -275px 0 0 350px;
}

#body_main .pics2 {
	border: hidden;

}

#body_main .pics2 img {
	width: 400px;
	margin: -275px 0 0 350px;
}

#mainContainer {
	margin: 0;
	padding: 0;
	border: inherit;
	background: white;
}

#body_main {
	margin: 0;
	padding: 0;
	border: none;
	background: white;
	min-height: 500px;
}

#body_main .food {
	border: hidden;
	margin-left: auto;
	margin-right: auto;
	
}

#body_main .food img {
	margin-top:10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px
	}
	
#body_main .headline {
	font-family:fantasy;
	text-align:center
}

	
#body_main .headline h1 {
	font-family:fantasy;
	padding-top: 30px;
	text-align:center
}

#body_main .headline h1 a {
	color: #946BD6;
	font-size: medium;
}

#body_main .body_left {
	float: left;
	width: 203px;
	height: 400px;
	margin: 10px;
	border: black 0px solid;
	text-align: left;
	padding: 10px 0 0 7px;
	background: #D7BFAE;
	min-height: 470px;
}

#body_main .body_left p {
	margin-left: 20px; 
}

#body_main .body_right {
	background: white;
	float: left;
	width: 600px;
	margin: 0;
	padding: 25px 20px 15px 30px;
	border: black 0px solid;
	text-align: left;
	display: block;
}

#body_main .body_right p{
	background: white;
	float: left;
	width: 600px;
	margin: 0;
	padding: 13px 20px 10px 10px;
	border: black 0px solid;
	text-align: left;
	display: block;
	font-family: fantasy;
	font-size: 26px
	
}

#body_main .imagefront {
	margin: 0;
	width: 677px;
	height: 262px;
	margin: 0;
	background: white;
	float: left;
	display: block;
	padding: 5px 20px 15px 30px;
	position:relative;
	border: solid thin #946BD6;	
}



h2 {
	font-family:fantasy;
	padding-bottom:20px
}

.menu {
	font-size: 20px;
	padding: 0;
	height: 38px;
	margin-left: 360px;
	margin-top: -40px;
}


li {
	padding-top: 12px;
	text-align: center;
	display: inline;
}

.menu li a {
	text-decoration: none;
	color: #000000;
	font-family: fantasy;
	display: block;
	padding: 4px 30px 3px 15px;
	text-align: center;
}

.menu li a:hover {
	color: #E0E0F8;
}

.menu a:hover{
        color:#E0E0F8;
}

.menu li a.selected {
	color: #E0E0F8;
}

.menu li ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none; 
	width: 6em; /* Width to help Opera out */
	font-size: 14px;
	float: left;
}

.menu li {
	list-style: none;
	float: left;
}

.menu li:hover ul {
	display: block;
	position: absolute;
	margin: 0 0 0 8px;
	padding: 0;
}
	
.menu li:hover li {
	float: none;
}
	
.menu li:hover li a {
	background-color:#A68064;
	color: #000000;
}
	
.menu li li a.selected {
       background-color: #ffffff;

}

.menu li li a:hover {
	background-color: #ffffff;
}

.footer {
	height: 48px;
	border: 0px solid black;
}

.footer .twitter {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer .facebook {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer .yelp {
	width: 50px;
	margin-right: 10px;
	margin-top: -1px;
	float: right;
}

.footer p {
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}

#sidebar {
	border: none;
	margin-left: -7px;
	margin-top: -9px;
}

#body_main .calendar {
	border: hidden;
	width: 600px;
	height: 400px;
	float: left;
	margin: 20px 0 15px 20px; 
}

#body_main .calendar iframe {
	border: hidden;
	width: 600px;
	height: 400px;
	float: left;
	margin: 14px 0 15px 0; 
}

#body_main .textsection {
	margin: 60px 20px 20px 20px;
	width: 300px;
	float: right;
}

#body_main .map {
	float: right;
	border: hidden;
	margin: 40px 40px 20px 0;
}

#body_main .textsection2 {
	float: left;
	margin: 60px;
}

#body_main .gallery_list {
	
}

.thumbnail img  {
	border: none;
	margin: 0 0 0 0;
        width: 160px;
	height: 125px;
}

.thumbnail {
        list-style: none;
        position: relatives;
        width: 150px;
        float: left;
	margin-left: 54px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.dumbCrossFade {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/photo_click.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */



#gallery {
	width:970px;
	position:relative;
	border:1px solid #ddd;
	background: white;
}

#gallery ul {
	padding: 5px;
	list-style:none;
	margin: 40px 0 0 0;
	width:350px;
	float:right;
	height:400px;
	overflow:auto;
}

#gallery ul li {
	display: block;
	width:100px;
	height: 80px;
	float:left;
	margin:0 5px 5px 0;
	border:1px solid lightgrey;
	cursor:pointer;
}

#gallery ul li img {
	display:block;
	width: 100px;
	height: 80px;
	margin-top: -6px;
}

#gallery ul li span {
	display:none;
	position:absolute;
	margin-left: -550px;
	margin-top:350px;
	width:400px;
	font-family:verdana,
	arial, sans-serif;
	color:#06a;
	font-size:11px;
	line-height:15px;
	text-align:justify;
}

#gallery ul li span b {
	color:#444;
}

/* required for IE5.x and IE6 to display the start image size correctly */
#gallery ul li.click i img.default {
	margin:5px auto 0 auto;
	border:1px solid #fff;
	width:545px;
	height:335px;
}

#gallery ul li.off {
	display:none;
}

#gallery ul li.click {
	border-color:#fc0;
	cursor:default;
	background:#f8f8f8;
}

#gallery ul li.click i {
	position:absolute;
	left:40px;
	top:40px;
	max-width:545px;
	max-height:355px;
}

#gallery ul li.click i img {
	margin:5px auto 0 auto;
	width:auto;
	height:auto;
	border:1px solid #fff;
}

#gallery ul li.click span {
	display:block;
}



#change-big {
	width: 385px;
	height:282px
}

#change-thin {
	width:162px;
	height:282px;
	left:385px
}
#change-small {
	left:547px;
	width:180px;
	height:140px
}

.dumbItem {
	z-index: 99;
	display: none
}

#still {
	margin: 140px 0 0 547px;

}

#still img {
	width:180px;
	height: 142px
}

.body_left img {
	width: 150px;
}




